{% extends "homepage/layout.html" %}

{% block title %}Drink{% endblock %}

{% block body %}
<section class=" pt-5" id="drinkPage">
    <h3 class="text-light text-center my-10 py-5 bg-blue-2">DRINKS</h3>
    <div class="items-wrapper" id="itemsWrapper">

        {% for label in object_list %}            
            <div class="acc-tab mt-5 bg-dusk text-light" >{{ label.name }}</div>
            <div class="label-items" id="{{ label.name|cut:' ' }}">
                {% for item in label.label_items.all %}
                <div class="" >
                    <div class="d-flex-row">
                        <div class="px-5">{{ item.name }}</div>
                        <div class="text-right px-5">{{ item.price }}.00</div>
                    </div>
                    <div>
                        {% if item.available %}
                            <p class="text-dark">{{ item.description }}</p>
                        {% else %}
                            <p class="text-bloody">NO AVAILABLE</p>
                        {% endif %}
                    </div>  
                </div>
                {% endfor %}
            </div>

        {% endfor %}
    </div>
   
</section>
{% endblock %}