{% extends "homepage/layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}
    <section class="d-flex-row f-justify-center d-flex-wrap py-10" id="visitPage">
        <div class="visit-info mx-5 my-10">
            <h3 class="text-dark my-5">{{ restaurant.name }}</h3>
            <p>{{ restaurant.address }}</p>
            <p>{{ restaurant.phone1 }}</p>
            {% if phone2 %}
                <p>{{ restaurant.phone2 }}</p>
            {% endif %}
            <p>{{ restaurant.email }}</p>
        </div>
        <div class="visit-open-hours mx-5 my-5">
            <h3 class="text-dark my-10">Open Hours</h3>
            {{ restaurant.open_hours }}
            <p>Kitchen close around 16:00</p>
            <p>Customer Service since 10:00</p>
        </div>
        <form action="" method="post" id="contactForm">
            {% csrf_token %}
            <div class="text-center">
                <h3 class="text-dark">Contact Us</h3>
            </div>
            {{ form.as_p }}
            <div class="text-center">
                <button class="btn-small bg-dark" type="submit">Enviar<i class="bi bi-arrow-up-right"></i></button>
            </div>

        </form>         
    </section>

{% endblock %}