{% extends "manager_tools/layout.html" %}

{% block title %}Manager Tools{% endblock %}

{% block body %}
    <div class="text-red">
        <div class="text-center">
            {% if messages %}
            <ul class="messages" id='msg'>
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}                      
        </div>        
        <h3 class="text-center">Manager</h3>
        <div class="restaurant-info">
            <a href="{% url 'manager_tools:restaurant_info' 1 %}" class=""><button>Edit Restaurant Info</button></a>
        </div>
        <div class="menu-tools">
            <h4 class="">Menu</h4>
            <a href="{% url 'manager_tools:update_menu' %}" class=""><button>Update Menu from File</button></a>
            <a href="{% url 'manager_tools:items_list' %}" class=""><button>Update Menu Item</button></a>

        </div>
        <div class="reservations">
            <h4 class="">Reservations</h4>
            <a href="{% url 'manager_tools:list_reservations' %}" class=""><button>List Reservations</button></a> 
            <a href="{% url 'manager_tools:add_reservation' %}" class=""><button>Add Reservation</button></a> 
            <a href="{% url 'manager_tools:close_day' 1 %}" class=""><button>Close Reservations</button></a>            
        </div>
        <div class="logout my-10">
            <p class="text-red">Don't forget to logout when done</p>
            <a href="{% url 'manager_tools:logout' %}"><button class="btn-small bg-dark">LOGOUT</button></a> 
        </div>
    </div>
{% endblock %}