{% extends "manager_tools/layout.html" %}

{% block title %}Manager Tools{% endblock %}

{% block body %}
<div class="d-flex-col">
    <section class="text-center">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn-small">Submit</button>
        </form>            
    </section>
    <section class="mt-10">
    <h4 class="text-center">Reservations</h4>

    <table>
        <tr>
            <th>Nombre</th>
            <th>Pax</th>
            <th>Hour</th>
            <th>Note</th>
          </tr>  
          {% now "Y-m-d" as todays_date %}
         
          {% for reservation in reservations %} 
          <tr class="">
                {% if todays_date == reservation.created_at|date:"Y-m-d" %}
                    <td class="recent">{{ reservation.user }}</td>
                {% else %}
                    <td class="">{{ reservation.user }}</td>                
                {% endif %}               
              
              <td class="pax-hour">{{ reservation.persons }}</td>
              <td class="pax-hour">{{ reservation.hour|time:"H:i" }}</td>
              <td class="">{{ reservation.note }} </td>
          </tr>
          {% empty %}
            <h2>No reservations for given date</h2>
          {% endfor %}                
    </table>

    </section>

</div>    
{% endblock %}