{% extends "manager_tools/layout.html" %}

{% block title %}Manager Tools{% endblock %}

{% block body %}
<form action="" method="post" class="text-center my-10 py-5" id="updateItemForm">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-field d-flex-row">
        {{ form.name.errors }}
        <label for="{{ form.name.id_for_label }}">Name:</label>
        {{ form.name }}
    </div>
    <div class="form-field d-flex-row">
        {{ form.description.errors }}
        <label for="{{ form.description.id_for_label }}">description</label>
        {{ form.description }}
    </div>
    <div class="form-field d-flex-row">
        {{ form.price.errors }}
        <label for="{{ form.description.id_for_label }}">price</label>
        {{ form.price }}
    </div>
    <div class="form-field d-flex-row">
        {{ form.available.errors }}
        <label for="{{ form.available.id_for_label }}">Available</label>
        {{ form.available }}
    </div>
    <button class="btn-small bg-sunny" type="submit">Save</button>
  </form>  
{% endblock %}