{% extends "manager_tools/layout.html" %}

{% block title %}Manager Tools{% endblock %}

{% block body %}
    <form action=""  method="post" enctype="multipart/form-data" class="py-10 bg-sunny">
        {% csrf_token %}
        <p class="my-10">
            <label for="inputFile">Select file to update menu:</label>
        </p>
        <p class="">
            <input type="file" name="menufile"  id="inputFile">
        </p>
        <p class="text-center my-5">
            <button type="submit" class="btn-small bg-dark">Submit</button>
        </p>
    </form>
{% endblock %}